/*
Site Name: Iris
Site URI: http://server1.nlp.insight-centre.org/iris/
Description: Iris Project Theme
File: iris.css
Created: 2015-04-01
Updated: 2015-04-18
Version: 1.0
Author: housamz
Author URI: hmz.ie

Colors:
	Body Background: #3e99ab
	Main Text: #747475
	Links: #747475
*/


a, .logo .green{color:#7e9a44}
.button, header ul li a:hover{background: #7e9a44}
td{text-align: center; vertical-align: middle;}

body{ background-color: #85a348;    
/* For Gradient Background, uncomment the following 	#7e9a44		#7e9a44		#85a348
background: #54672e;
background: -moz-linear-gradient(top,  #54672e 0%, #a0c556 52%, #c9d9a9 81%, #85a348 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#54672e), color-stop(52%,#a0c556), color-stop(81%,#c9d9a9), color-stop(100%,#85a348));
background: -webkit-linear-gradient(top,  #54672e 0%,#a0c556 52%,#c9d9a9 81%,#85a348 100%);
background: -o-linear-gradient(top,  #54672e 0%,#a0c556 52%,#c9d9a9 81%,#85a348 100%);
background: -ms-linear-gradient(top,  #54672e 0%,#a0c556 52%,#c9d9a9 81%,#85a348 100%);
background: linear-gradient(to bottom,  #54672e 0%,#a0c556 52%,#c9d9a9 81%,#85a348 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#54672e', endColorstr='#85a348',GradientType=0 );
*/
}
